<div class="container content">
    <div class="row">
        <div class="col-md-6">
            <p>saludador works! Great</p>
        </div>
        <div class="col-md-6">
            <button>click aqui</button>
        </div>
    </div>
</div>
